@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* common styling */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
}
.section-heading{
    font-size: 12rem;
    font-weight: 900;
    color:#fbf8fc;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-align: center;
    text-shadow: 0.3rem 0.3rem 0.3rem black;
}

html{
    font-size: 62.5%;
    /* 1 rem =16 px, reducing the size of the font size to 10 px  */
}
/* end of common styling */

/* navbar */
.navbar{
    width: 100%;
    height: 14vh;
    background-color:#46494C ;
    position: fixed;
    /* top: 0; */
    top: -14rem;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .2rem .2rem .2rem white;
    transition: top .3s;
}

.navbar-link{
    color: lightskyblue;
    margin: 0 4rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color .3s;
    opacity: 0 color .3s;
}

.navbar-link:hover{
    color: rgb(255, 255, 255);
}
.navbar-link i{
    font-size: 7rem;
}
.navbar-link span{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .4rem;
    margin-top: .5rem;
}
.menu::before{
    content: "";
    width: 0.3rem;
    height: 15rem;
    background-color: #46494C;
    position: absolute;
    top: -15rem;
    left: calc(50% - 0.15rem);
    cursor: pointer;
    box-shadow: .1rem .1rem .1rem #46494C;

}
.menu{
    width: 4rem;
    height: 6rem;
    position: fixed;
    /* top: 15rem; */
    top :1rem;
    left: 5rem;
    background-color: #46494C;
    /* background-color: black; */
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: .1rem .1rem .1rem black,
    -.1rem -.1rem .1rem black;
    transition: top .3s .2s;
    z-index: 100;
    cursor: pointer;

}

.menu.change{
    top: 15rem;
    transition: top .3s;
}
.navbar.change{
    top:0;
    transition: top .3s;
}

.change .navbar-link{
    opacity: 1;
}
.change .navbar-link:nth-child(1){
    transition: opacity 0.4s .5s color .3s;
}
.change .navbar-link:nth-child(2){
    transition: opacity 0.4s .6s color .3s;
}
.change .navbar-link:nth-child(3){
    transition: opacity 0.4s .7s color .3s;
}
.change .navbar-link:nth-child(4){
    transition: opacity 0.4s .8s color .3s;
}
.change .navbar-link:nth-child(5){
    transition: opacity 0.4s .9s color .3s;
}

/* end of navbar */

/* section 1 */
.section-1{
    height: 100vh;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.section-1-icons i{
    font-size: 35rem;
    color: #46494C;
    position: absolute;
    transform: translate(-50%,-50%)scale(0);
    text-shadow: 0.3rem 0.3rem 0.3rem black;
    transition: transform .3s;

}

.section-1-icons i.change{
    transform: translate(-50%,-50%)scale(1);
    transition: transform .3s;
}
/* end of section 1 */

/* section 2 */
.section-2{
    height: 100vh;
    width: 100%;
    background-color: #4C5C68;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10rem;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 30rem;
    background-color: lightskyblue;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1rem 1rem 1rem black;
    justify-content: space-between;
    position: relative;
    transform: rotateY(20deg)skewX(-2deg);
}
.card:hover{
    transform: translateY(40deg)skewX(-4deg)translateY(-6rem);
    box-shadow: 2rem 2rem 2rem black;
}

.card ::before{
    content: "";
    height: 100%;
    width: 1rem;
    position: absolute;
    background-color:rgb(111, 197, 250) ;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -.2rem -.2rem -.2rem black;
}

.card ::after{
    content: "";
    height: 1rem;
    width: 100%;
    position: absolute;
    background-color:rgb(111, 197, 250) ;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -.2rem -.2rem -.2rem black;
}
.card-name{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin: 2rem 0;
    text-shadow: 0.2rem 0.2rem .2rem black;
    color:#fbf8fc ;
}
.card-img{
    width: 100%;
    /* height: auto; */
}
.card-btn{
    width: 70%;
    background-color: black;
    color:#fbf8fc ;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    letter-spacing: .2rem;
    padding: .5rem 0;
    cursor: pointer;
    box-shadow: -.2rem -.2rem .2rem black;
}

/* end of section 2 */

/* Section 3 */
.section-3{
    height: 100vh;
    width: 100%;
    background-color: #3C4953;
   padding: 5rem 0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.gallery-link{
    margin:4rem 1rem ;
    position: relative;
}
.gallery-link::before{
    content: "";
    position: absolute;
    top: 2vh;
    left: 80%;
    width: 0.2vw;
    height: 0;
    background-color: #fbf8fc;
    transition: height .5s;
    z-index: 10;
}

.gallery-link:hover::before{
    height: 80%;
}
.gallery-link::after{
    content: "";
    position: absolute;
   left: 2rem;
    top: 30%;
    width: 0;
    height: 0.2rem;
    background-color: #fbf8fc;
    transition: width 0.5s;
   
}
.gallery-link:hover::after{
    width: 90%;
}
.gallery-item-img{
    height: 25vh;
    width: 25vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem lightskyblue,
                .5rem .5rem .1rem skyblue,
                .8rem .8rem .1rem royalblue,
                1rem 1rem .1rem blue;
    transition: all .5s;
}
.gallery-link:hover .gallery-item-img{
    box-shadow: 1rem 1rem .11rem lightskyblue,
                2rem 2rem .1rem skyblue,
                3rem 3rem .1rem royalblue,
                4rem 4rem .1rem royalblue;
                filter: blur(0.5s);
                opacity: .5;
    transform:scale(1.1);
}
.gallery-item-name{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
    overflow: hidden;
    width: 0;
    transition: width 0.3s;
}
.gallery-link:hover .gallery-item-name{
    width: 100%;
    transition: width 1.5s 0.5s;
}
.gallery-item-info{
    width: 70%;
    position: absolute;
    bottom: 1vw;
    color: white;
    left: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}
.gallery-link:hover .gallery-item-info{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s 1s;
}
/* end of section 3 */

/*Section 4 */
.section-4{
    height: 30vh;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    align-items: flex-start;
    position: relative;
}
.section-4-text{
    text-transform: uppercase;
}
.section-4-heading{
    font-size: 4rem;
    font-weight: 900;
    color: lightskyblue;
}
.section-4-paragraph{
    color: white;
    font-size: 2rem;
}
.signup-form{
    display: flex;
    align-items: center;
}
.signup-form-input{
    width: 35rem;
    height: 5rem;
    border: .5rem solid lightskyblue;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    color: rgb(94, 177, 228);
}
.signup-form-input::placeholder{
    color: #222;
}

.signup-form-btn{
    position: relative;
    left: -4.5rem;
    height: 4rem;
    width: 4rem;
    background-color: lightskyblue;
    color: #222;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.copyright{
    position: absolute;
    bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
    letter-spacing: .3rem;
    border-top: .1rem solid lightskyblue;
    padding-top: 4rem;
    width: 100%;
    text-align: center;
}
.fa-heart{
    color: red;
}
/* end of section 4 */

/* responsive */
@media(max-width:1400px){
html{
    font-size: 50%;
}
.section-2{
    height: auto;
    padding: 10rem 0 12rem 0;
}
.card-container{
    margin-top: 10rem;
}

.gallery-link{
    width: 30rem;
    height: 20rem;
    margin: 5rem;
}
.gallery-item-img{
    width: 100%;
    height: 100%;
}
}
@media(max-width:1000px){
.section-heading{
    font-size: 9rem;
    margin: 0 5rem;
}
.section-1-icons i{
    font-size:25rem ;
}
.card-container{
    flex-wrap: wrap;
}
.card{
    margin: 5rem;
}
.section-4{
    height: 20vh ;
}
}
@media(max-width:960px){
.navbar-link{
    font-size: 2rem;
}
.navbar-link i{
    font-size: 4rem;
}
.navbar-link span{
    font-size: 2rem;
}
.gallery{
    /* margin-bottom: 3rem; */
    margin-top: -2rem;
}
.section-4{
    height: 30rem;
}
}

@media(max-width:700px){
.section-4-heading{
    font-size: 7rem;
    margin: 0 10rem;
}
.section-1-icons{
    font-size: 20rem;
}
.menu{
    left: 2rem;
}
.section-4{
    height: 40rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
}

.section-4-text{
    margin-bottom: 8rem;
}
}

@media(max-width:550px){
html{
    font-size: 40%;
}
.navbar-link{
    margin: 0 .7rem;
}
}
/* responsive end */